<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>@ViewBag.Title - Test Task</title>
  <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")

  <script src="https://code.highcharts.com/highcharts.js"></script>
  <link href="~/Content/jquery.minicolors.css" rel="stylesheet" />
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" style="color:blue; background-color:ThreeDLightShadow;">
    <div class="container">
      <h2>Test Task</h2>
    </div>
  </div>
  <br />
  <div></div>
  <div></div>
  <br /><br />
  <div>
        @RenderBody()
        @*@RenderSection("SPAViews", required: false)*@
    <hr />
  </div>

  @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
  @*@Scripts.Render("~/bundles/hightchart")*@
  @RenderSection("Scripts", required: false)
</body>
</html>